/* Login form container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #404040;
  width: 20%;
  margin-right: 42%;
  margin-left: 38%;
}

/* Username and password labels */
.credential {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 22px;
  color: #ffba49;
}

/* Username and password input fields */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Login button */
.loginButton {
  width: 100%;
  padding: 10px;
  background-color: #6564db;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Signup and Forgot username links */
.link {
  margin-top: 20px;
  font-size: 18px;
  color: #ffba49;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

.link:hover,
.loginButton:hover {
  cursor: pointer;
}
